:root {
	--font-serif: "Open Sans", sans-serif;
	--gallery: #eee;
	--cobalt: #004ab7;
	--curious-blue: #22aedf;
	--conax-blue: #4695e7;
	--rolling-stone: #70777c;

	--silver: #c4c4c4;
	--alto: #dbdbdb;
	--alto-2: #8c9cad;
	--air: #46BDE7;
	--gray-1: #F9F9F9;

	--social-padding: 0.5rem;
  --social-dimension: 42px;
  --social-dimension--scale: 46px;
  --social-color: var(--alto);
  --social-color--footer: var(--white);

  --c-btn-padding-y: 0.7rem;
  --c-btn-padding-x: 0.5rem;

  --c-btn-round-padding-x: 1.5rem;

  --c-btn-lg-padding-y: 1rem;
  --c-btn-lg-padding-x: 0.9rem;

  --white-rgba: 255, 255, 255;
  --black-rgba: 0, 0, 0;

  --navbar-height: 60px;
}

html {
	font-family: var(--font-serif);
	font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-header .modal-title { font-size: 1.2rem; line-height: 1.5rem; }
.modal-header .close { outline: none; }

/* Background styles */
.bg-silver { background-color: var(--silver); }
.bg-gallery { background-color: var(--gallery); }
.bg-air { background-color: var(--air); }
.bg-gray-1 { background-color: var(--gray-1); }
.bg-curious-blue { background-color: var(--curious-blue); }

@media (min-height: 600px), (min-width: 768px) {
  .screen,
  .screen > .container,
  .workspace,
  .workspace > .container {
    min-height: 100vh;
  }
  .workspace.--with-nav,
  .workspace.--with-nav > .container {
  	min-height: calc(100vh - var(--navbar-height));
  }
}

.screen,
.workspace {
  position: relative;
}

.workspace {
	top: var(--navbar-height);
}

/* Brand logo styles */
.conax-logo svg {
	fill: var(--conax-blue);
}
.conax-logo.--white svg {
	fill: var(--white);
}

@media (min-width: 768px) {
	.conax-logo-float {
		position: absolute;
	}

	.conax-logo-float--t { top: 0; }
	.conax-logo-float--l { left: 0; }
}

/* Hero component styles */
.hero-card {
	position: relative;
}

.hero-card .conax-caption {
	font-size: 1.9rem;
}

.hero-card_image img {
	display: block;
}

.hero-card_image--stretch img {
	width: 100%;
}

@media (min-width: 768px) {
	.hero-card {
		display: flex;
	}

	.hero-card_item {
		width: 50%;
	}
}

@media (min-width: 769px) {
	.hero-card .conax-caption {
		font-size: 2.5rem;
	}
}

/* Typography utils */
.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }

.text-white { color: var(--white); }
.text-silver { color: var(--silver); }
.text-curious-blue { color: var(--curious-blue); }
.text-conax-blue { color: var(--conax-blue); }

.text-sm-center { text-align: center; }
.text-sm-right { text-align: right; }

.p-l { font-size: 1.15rem; }

/* Social links styles */
.social {
  display: flex;
  justify-content: center;
}

.social-item {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.social-icon {
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

svg.social-icon {
  fill: var(--social-color);

  width: var(--social-dimension);
  height: var(--social-dimension);
}

.social-icon:hover {
  fill: var(--curious-blue);
}

/* SignIn form styles */
.sign-form input.form-control {
	outline: 0;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	height: auto;
}

.sign-form input.form-control:focus,
.sign-form input.form-control:active {
	box-shadow: none !important;
	outline: 0 !important;
	-webkit-appearance: none;
}

.sign-form .form-group {
	position: relative;
}

.sign-form .form-group label.input-label {
	position: absolute;
	color: var(--curious-blue);
	right: 5%;
	top: 50%;
	margin: 0;
	transform: translate(0, -50%);
}

.sign-form .form-group.hide,
.sign-form .form-group label.hide {
	display: none;
}

/* Button styles */
.c-btn {
  display: inline-block;
  padding: var(--c-btn-padding-y) var(--c-btn-padding-x);
  border: none;
  line-height: 1;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--white);
  background-color: var(--curious-blue);
  transition: background-color var(--duration);
  will-change: background-color;
  cursor: pointer;
  outline: 0 !important;
}

.c-btn.c-btn-lg {
  padding: var(--c-btn-lg-padding-y) var(--c-btn-lg-padding-x);
  font-size: 1rem;
}

.c-btn.c-btn-round {
	border: 1px solid var(--curious-blue);
  padding-left: var(--c-btn-round-padding-x);
  padding-right: var(--c-btn-round-padding-x);
  border-radius: 2rem;
}

.c-btn-animated {
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.c-btn:hover {
  background-color: color-mod(var(--curious-blue) l(+10%));
}

.c-btn:active {
  background-color: color-mod(var(--curious-blue) l(-5%));
  transition: none;
}

.c-btn.c-btn-animated:hover {
  color: var(--curious-blue);
  background-color: var(--white);
}

a.c-btn:hover {
  text-decoration: none;
  color: var(--white);
}

.c-link { cursor: pointer; }

a.c-link:hover {
	text-decoration: none;
	color: var(--curious-blue);
}

/* Util styles */
.c-loading--fade {
	animation: loading--fade infinite 2s linear;
}

@keyframes loading--fade {
	0% { opacity: 0.4; }
	30% { opacity: 1; }
	70% { opacity: 1; }
	100% { opacity: 0.4; }
}

/* Navigation bar styles */
.conax-nav {
	background-color: var(--white);
}

.conax-nav.--top {
	border-bottom: 1px solid var(--alto);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.c-nav-btn {
	background: inherit;
	border: 1px solid var(--white);
	cursor: pointer;
	outline: none !important;
	height: calc(2.5rem + 2px);
	border-radius: calc(2.5rem + 2px);
}

div.c-nav-btn {
	line-height: calc(2.5rem - 2px);
}

.c-nav-btn:hover {
	background-color: var(--curious-blue);
}

.c-nav-btn:active {
	background-color: inherit;
	border: 1px solid var(--curious-blue);
	color: var(--curious-blue);
}

.c-nav-btn.--circle {
	width: calc(2.5rem + 2px);
}

.c-user-icon {
	background-color: var(--curious-blue);
	color: var(--white);
	display: inline-block;
	border-radius: 2rem;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.6rem;
	text-transform: uppercase;
	margin-right: 0.3rem;
	margin-left: -0.25rem;
}

.c-nav-btn.--text,
.c-nav-btn.--user {
	padding-right: 0.85rem;
	padding-left: 0.85rem;
	font-weight: 800;
}
.c-nav-btn.--text { color: var(--curious-blue); }
.c-nav-btn.--user { color: var(--rolling-stone); }

.c-nav-btn svg { fill: var(--alto-2); }

.c-nav-btn:hover svg { fill: var(--white); }
.c-nav-btn:active svg { fill: var(--curious-blue); }

.c-nav-btn:hover .c-user-icon { background-color: var(--white); color: var(--curious-blue); }
.c-nav-btn:active .c-user-icon { background-color: var(--curious-blue); color: var(--white); }

.c-nav-btn.--text:hover,
.c-nav-btn.--user:hover { color: var(--white); }
.c-nav-btn.--text:active,
.c-nav-btn.--user:active { color: var(--curious-blue); }

.c-nav-btn-counter {
	position: relative;
}

.c-counter {
	background-color: var(--red);
	color: var(--white);
	font-size: 0.65rem;
	text-align: center;
	line-height: 1.1rem;
	min-width: 1.1rem;
	height: 1.1rem;
	border-radius: 1rem;
	position: absolute;
	right: 0;
	top: 0;
}

.conax-nav-dropdown {
	display: inline-block;
}

.conax-nav-dropdown .dropdown-toggle {
	box-shadow: none !important;
	outline: none !important;
	background: transparent !important;
	border: none !important;
	padding: 0;
}

.conax-nav-dropdown .dropdown-toggle::after { display: none !important; }

.conax-nav-dropdown .dropdown-item:not(:active) {
	color: var(--gray-dark);
}

/* Tabs navigations */
.c-tab-nav.--column .nav-link {
	color: var(--gray-dark);
}
.c-tab-nav.--column .nav-link:hover {
	background-color: var(--light);
}
.c-tab-nav.--column .nav-link.active {
	color: var(--curious-blue);
	background-color: inherit;
}

/* Loading Mask styles */
.c-loading-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--white-rgba), 0.5);
}

.c-loading-mask .c-loading-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 5rem;
	height: 5rem;
	margin-top: -2.5rem;
	margin-left: -2.5rem;
	fill: var(--curious-blue);
  animation: c-loading-icon-spin infinite 5s linear;
}

@keyframes c-loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}